@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", sans-serif;
  --font-beiruti: "Beiruti", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  max-width: auto;
  margin: 0 auto;
}

/* Oculta scrollbar pero mantiene scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

